<nav class="main-menu">
	<div class="menu-header">
		<div class="menu-header__top-wrapper">
			<div class="menu-header__text">
				<i class="sprite sprite-lock-icon"></i>
				COMPRA 100% SEGURA
			</div>

			<button class="menu-header__close-button">
				<i class="sprite sprite-close-menu-icon"></i>
			</button>
		</div>

		<div class="menu-header__search-box">
			<vtex.cmc:fullTextSearchBox />
		</div>
	</div>

	<ul class="main-menu__departments">
		<li class="main-menu__department">
			<a class="main-menu__department-link" title="LOREM IPSUM" href="#">
				CELULARES
				<i class="sprite sprite-menu-mobile-arrow-icon"></i>
			</a>

			<div class="submenu">
				<button class="submenu__return-button">
					<i class="sprite sprite-menu-left-arrow-icon"></i>
					VOLTAR
				</button>

				<div class="container">
					<h2 class="submenu__title">CELULARES</h2>

					<div class="submenu__categories-wrapper">
						<ul class="submenu__categories">
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
						</ul>
						<ul class="submenu__categories">
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
						</ul>
					</div>

					<a class="submenu__see-all" href="">
						VER TODOS
						<i class="sprite sprite-menu-arrow-icon"></i>
					</a>
				</div>
			</div>
		</li>
		<li class="main-menu__department">
			<a class="main-menu__department-link" title="LOREM IPSUM" href="#">
				VIDEO GAMES
				<i class="sprite sprite-menu-mobile-arrow-icon"></i>
			</a>

			<div class="submenu">
				<button class="submenu__return-button">
					<i class="sprite sprite-menu-left-arrow-icon"></i>
					VOLTAR
				</button>

				<div class="container">
					<h2 class="submenu__title">VIDEO GAMES</h2>

					<div class="submenu__categories-wrapper">
						<ul class="submenu__categories">
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
						</ul>
						<ul class="submenu__categories">
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
						</ul>
					</div>

					<a class="submenu__see-all" href="">
						VER TODOS
						<i class="sprite sprite-menu-arrow-icon"></i>
					</a>
				</div>
			</div>
		</li>
		<li class="main-menu__department">
			<a class="main-menu__department-link" title="LOREM IPSUM" href="#">
				TABLETS
				<i class="sprite sprite-menu-mobile-arrow-icon"></i>
			</a>

			<div class="submenu">
				<button class="submenu__return-button">
					<i class="sprite sprite-menu-left-arrow-icon"></i>
					VOLTAR
				</button>

				<div class="container">
					<h2 class="submenu__title">TABLETS</h2>

					<div class="submenu__categories-wrapper">
						<ul class="submenu__categories">
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
						</ul>
						<ul class="submenu__categories">
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
							<li class="submenu__category">
								<a class="submenu__category-link" href="#"
									>Lorem Ipsum</a
								>
							</li>
						</ul>
					</div>

					<a class="submenu__see-all" href="">
						VER TODOS
						<i class="sprite sprite-menu-arrow-icon"></i>
					</a>
				</div>
			</div>
		</li>
	</ul>

	<a class="main-menu__account-link" href="/account">
		<i class="sprite sprite-user-icon"></i>
		ENTRAR / MEUS PEDIDOS
	</a>
</nav>
