.home {
	.main-banners {
		img {
			width: 100%;
		}

		&__desktop {
			@include mq(md, max) {
				display: none;
			}
		}

		&__mobile {
			@include mq(md, min) {
				display: none;
			}
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: map-get($z-index, level-1);
			padding: 0;
			border: 0;
			outline: 0;
			font-size: 0;
			background-color: transparent;
			cursor: pointer;

			@extend .sprite;

			@include mq(md, max) {
				transform: translateY(-50%) scale(0.75);
			}
		}

		.slick-prev {
			left: 24px;

			@extend .sprite-prev-arrow;

			@include mq(md, max) {
				left: 16px;
				transform-origin: left;
			}
		}

		.slick-next {
			right: 24px;

			@extend .sprite-next-arrow;

			@include mq(md, max) {
				right: 16px;
				transform-origin: right;
			}
		}

		.slick-dots {
			display: flex !important;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 0;
			bottom: 14px;
			z-index: map-get($z-index, level-1);
			width: 100%;
			margin: 0;

			@include mq(md, max) {
				bottom: 9px;
			}

			li {
				display: flex;
				margin: 0 4px;

				&.slick-active {
					button {
						width: 16px;
						height: 16px;
						background: transparent;
						border: 1px solid $white-500;
					}
				}
			}

			button {
				padding: 0;
				border: 0;
				outline: 0;
				background: $white-500;
				width: 10px;
				height: 10px;
			}
		}
	}

	.specifications {
		margin-bottom: 117px;

		@include mq(md, max) {
			margin-bottom: 89px;
		}

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__list {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			gap: 75px;
			overflow-x: auto;
			padding-top: 42px;
			margin: 0;

			&::-webkit-scrollbar {
				display: none;
			}

			@include mq(md, max) {
				padding: 36px 25px;
			}
		}

		&__item {
			display: flex;
			align-items: center;
		}

		&__text {
			font-size: 10px;
			line-height: 12px;
			margin: 0 0 0 8px;
		}
	}

	.shelf {
		margin-bottom: 172px;

		@include mq(md, max) {
			margin-bottom: 80px;
		}
	}
}
