.footer-newsletter {
	padding: 24px 0;
	background: linear-gradient(180deg, $blue-500 0%, $blue-600 100%);

	@include mq(lg, max) {
		padding: 24px 15px;
	}

	&__container {
		@include mq(md, min) {
			max-width: 698px;
			margin: 0 auto;
		}
	}

	&__title {
		margin: 0 0 10px;
		font-size: 14px;
		line-height: 17px;
		color: $white-500;

		@include mq(lg, max) {
			max-width: 224px;
			margin-bottom: 8px;
		}
	}

	.m3-custom-newsletter-form {
		position: relative;
		display: flex;

		@include mq(lg, max) {
			flex-direction: column;
		}

		@include mq(lg, min) {
			align-items: center;
		}
	}

	fieldset {
		flex: 1;
		padding: 0;
		margin: 0;

		@include mq(lg, max) {
			margin-bottom: 8px;
		}

		@include mq(lg, min) {
			margin-right: 16px;
		}

		&:last-of-type {
			@include mq(lg, max) {
				margin-bottom: 0;
			}

			@include mq(lg, min) {
				margin-right: 0;
			}
		}

		&.m3-cn-button-ok-container {
			max-width: 126px;

			@include mq(lg, max) {
				max-width: 100%;
			}
		}

		label {
			display: none;
		}

		input {
			width: 100%;
			height: 41px;
			padding: 0 16px;
			border: 0;
			outline: 0;
			background: $white-500;
			font-size: 10px;
			line-height: 12px;

			@include mq(lg, max) {
				height: 54px;
				font-size: 12px;
			}

			&::placeholder {
				text-transform: uppercase;
				color: $gray-200;
			}

			&.m3-cn-button-ok {
				padding: 0 25px;
				font-weight: 900;
				font-size: 10px;
				line-height: 12px;
				background: $black-500;
				color: $white-500;
				cursor: pointer;

				@include mq(lg, max) {
					font-size: 12px;

					&:active {
						background: lighten($black-500, 10);
					}
				}

				@include mq(lg, min) {
					&:hover {
						background: lighten($black-500, 10);
					}

					&:active {
						background: lighten($black-500, $amount: 0);
					}
				}
			}
		}
	}

	.m3-cn-msg {
		position: absolute;
		top: calc(100% + 8px);
		left: 50%;
		transform: translateX(-50%);
		line-height: 1;
		font-weight: 700;

		@include mq(lg, max) {
			width: fit-content;
		}

		.m3-cn-error {
			color: $red-300;
		}
	}
}
