<section class="footer-infos">
	<div class="footer-infos__wrapper">
		<ul class="footer-infos__payment">
			<li title="Mastercard">
				<i class="sprite sprite-master-icon"></i>
			</li>
			<li title="Visa">
				<i class="sprite sprite-visa-icon"></i>
			</li>
			<li title="Diners">
				<i class="sprite sprite-diners-icon"></i>
			</li>
			<li title="Elo">
				<i class="sprite sprite-elo-icon"></i>
			</li>
			<li title="Hiper">
				<i class="sprite sprite-hiper-icon"></i>
			</li>
			<li title="Pagseguro">
				<i class="sprite sprite-pagseguro-icon"></i>
			</li>
			<li title="Boleto">
				<i class="sprite sprite-boleto-icon"></i>
			</li>
		</ul>

		<div class="footer-infos__divider"></div>

		<ul class="footer-infos__security">
			<li title="VTEX Certified">
				<i class="sprite sprite-vtex-pci-icon"></i>
			</li>
			<li title="Site 100% Seguro">
				<i class="sprite sprite-safe-browsing-icon"></i>
			</li>
		</ul>
	</div>

	<div class="footer-infos__company">
		<p class="footer-infos__copyright">
			COPYRIGHT © 2020 - LOJA COMÉRCIO ELETRÔNICO | CNPJ: 000.000.000/0001-00
		</p>
		<div class="footer-infos__development">
			<a href="http://vtex.com" target="_blank" title="VTEX">
				<i class="sprite sprite-vtex-icon"></i>
			</a>
			<a href="http://m3ecommerce.com" target="_blank" title="M3">
				<span class="footer-infos__developed-by">Developed by</span>
				<i class="sprite sprite-m3-icon"></i>
			</a>
		</div>
	</div>
</section>
