<section class="footer-links">
	<div class="footer-links__wrapper">
		<div class="footer-links__block">
			<h4 class="footer-links__title">DÚVIDAS</h4>
			<ul class="footer-links__list">
				<li class="footer-links__item">
					<a class="footer-links__link" href="/institucional/sobre"
						>SOBRE</a
					>
				</li>
				<li class="footer-links__item">
					<a
						class="footer-links__link"
						href="/institucional/formas-de-pagamento"
					>
						FORMAS DE PAGAMENTO
					</a>
				</li>
				<li class="footer-links__item">
					<a class="footer-links__link" href="/institucional/entrega">
						ENTREGA
					</a>
				</li>
				<li class="footer-links__item">
					<a
						class="footer-links__link"
						href="/institucional/troca-e-devolucao"
					>
						TROCA E DEVOLUÇÃO
					</a>
				</li>
				<li class="footer-links__item">
					<a
						class="footer-links__link"
						href="/institucional/seguranca-e-privacidade"
					>
						SEGURANÇA E PRIVACIDADE
					</a>
				</li>
				<li class="footer-links__item">
					<a class="footer-links__link" href="/institucional/contato"
						>CONTATO</a
					>
				</li>
			</ul>
		</div>
		<div class="footer-links__block">
			<h4 class="footer-links__title">FALE CONOSCO</h4>
			<ul class="footer-links__list">
				<li class="footer-links__item">
					<a class="footer-links__link" href="tel:1199999999"
						>SAC: 11 9999 9999</a
					>
				</li>
				<li class="footer-links__item">
					<a class="footer-links__link" href="mailto:sac@m3.com"
						>SAC@M3.COM</a
					>
				</li>
				<li class="footer-links__item">
					<u>ATENDIMENTO ONLINE</u>
				</li>
				<li class="footer-links__item">
					<span>SEGUNDA A SEXTA</span>
				</li>
				<li class="footer-links__item">
					<span>DAS 8H30 AS 18H</span>
				</li>
			</ul>
		</div>
		<div class="footer-links__block">
			<h4 class="footer-links__title">FIQUE LIGADO</h4>
			<ul class="footer-links__list footer-links__list--social-networks">
				<li>
					<a href="#" target="_blank" title="Instagram">
						<i
							class="sprite sprite-instagram-logo footer-links__logo"
						></i>
					</a>
				</li>
				<li>
					<a href="#" target="_blank" title="Facebook">
						<i class="sprite sprite-facebook-logo footer-links__logo"></i>
					</a>
				</li>
				<li>
					<a href="#" target="_blank" title="Youtube">
						<i class="sprite sprite-youtube-logo footer-links__logo"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
