<script
	crossorigin="anonymous"
	src="https://polyfill.io/v3/polyfill.min.js"
></script>
<script
	src="https://cdn.jsdelivr.net/npm/proxy-polyfill@0.3.1/proxy.min.js"
	integrity="sha256-aRX3NIXjCxT51wF6s9KHLiFrf5E0n1YzvDLAMzeAVzA="
	crossorigin="anonymous"
></script>

<script src="/arquivos/romulosemiao--main-bundle.js" async="async"></script>
