<section class="footer-newsletter">
	<div class="footer-newsletter__container">
		<h3 class="footer-newsletter__title">
			RECEBA NOVIDADES E DESCONTOS EXCLUSIVOS
		</h3>
		<div class="footer-newsletter__form"></div>
	</div>
</section>
