<!--
#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
-->

<div class="produto-na-prateleira">
	<div class="flags-product">
		<span class="HightLight">
			<p class="flag novo">novo</p>
			<!-- $product.HightLight -->
		</span>
		<span class="DiscountHightLight">
			<p class="flag off">off</p>
			<!-- $product.DiscountHightLight -->
		</span>
	</div>
	<div class="product-image">
		<a href="produto.html" title="Titulo do produto">
			<!-- title=$product.EscapedName -->
			<div class="foto-principal">
				<div class="lazyload__sibling"></div>
				<div class="lazyload" data-noscript="">
					<!-- $product.GetImageTag(2) -->
					<noscript>
						<img src="/arquivos/produto-frente.png" />
					</noscript>
				</div>
			</div>
			<div class="foto-secundaria">
				<div class="lazyload__sibling"></div>
				<div class="lazyload" data-noscript="">
					<!-- $product.GetImageTag(2) -->
					<noscript>
						<img src="/arquivos/produto-costas.png" />
					</noscript>
				</div>
			</div>
		</a>
	</div>
	<div class="informacoes">
		<div class="avaliacao"></div>
		<div class="nome">
			LOREM IPSUM DOLOR
			<!-- $product.EscapedName -->
		</div>
	</div>
	<!-- #if ($product.IsInStock) -->
	<div class="disponivel">
		<div class="price">
			<div class="antigo">
				<!-- #if ($product.HasBestPrice) -->
				<span class="value">
					R$ 4.500,00
					<!-- $product.ListPrice -->
				</span>
				<!-- #end -->
			</div>
			<div class="principal">
				<span class="value">
					R$ 3.799,05
					<!-- $product.BestPrice -->
				</span>
			</div>
			<div class="parcelado">
				<span class="desconto-parcelado">
					<span class="numero-de-parcelas">10</span>
					X DE
					<span class="value">
						R$ 399,99
						<!-- $product.BestPrice -->
					</span>
					SEM JUROS
				</span>
			</div>
		</div>
		<div class="compra">
			<span class="btn-compra">
				<a title="Compre agora" href="produto.html">COMPRE AGORA</a>
			</span>
		</div>
	</div>
	<!-- #else -->
	<!-- <div class="indisponivel">
		<span class="erro">INDISPONÍVEL</span>
	</div> -->
	<!-- #end -->
</div>
