.flags-product {
	position: absolute;
	top: 0;
	left: 0;
	z-index: map-get($z-index, level-2);
	padding: 8px;

	.flag {
		display: none;
		min-width: 54px;
		max-width: max-content;
		height: 20px;
		text-transform: uppercase;
		line-height: 12px;
		font-size: 10px;
		margin: 0 0 8px;

		&.novo,
		&.produto-off {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.novo {
			background: $blue-500;
			color: $white-500;
			font-weight: bold;
		}

		&.produto-off {
			font-weight: 900;
			background: $black-500;
			color: $white-500;
		}
	}
}
