.shelf {
	h2 {
		margin: 0 0 16px;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
	}

	ul {
		margin: 0;

		@include mq(md, max) {
			padding: 0 32px;
		}
	}

	.slick-track {
		display: flex;
	}

	.slick-slide {
		height: auto;

		& > div,
		li {
			height: 100%;
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: map-get($z-index, level-1);
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 0;
		background-color: transparent;
		cursor: pointer;

		@extend .sprite;

		@include mq(lg, max) {
			transform: translateY(-50%) scale(0.7);
		}
	}

	.slick-prev {
		right: 100%;

		@include mq(lg, max) {
			left: 0;
			right: auto;
			transform-origin: left;
		}

		@extend .sprite-prev-arrow-gray;
	}

	.slick-next {
		left: 100%;

		@include mq(lg, max) {
			right: 0;
			left: auto;
			transform-origin: right;
		}

		@extend .sprite-next-arrow-gray;
	}

	.produto-na-prateleira {
		position: relative;
		height: 100%;
		margin: 0 15px;

		.product-image {
			position: relative;
			overflow: hidden;
			padding-top: 100%;

			&:hover {
				.foto-secundaria {
					opacity: 1;
					pointer-events: all;
					transition: all 0.2s ease-in-out;
				}
			}

			.foto-principal,
			.foto-secundaria {
				position: absolute;
				top: 0;
				left: 0;
				z-index: map-get($z-index, level-1);
				width: 100%;
				height: 100%;
			}

			.foto-secundaria {
				opacity: 0;
				pointer-events: none;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.nome {
			text-align: center;
			font-weight: 500;
			font-size: 10px;
			line-height: 12px;
			padding: 16px 0 8px;
		}

		.price {
			text-align: center;
			.antigo {
				text-decoration: line-through;
				font-size: 10px;
				line-height: 12px;
				color: $gray-300;
				padding-top: 9px;
			}

			.principal {
				font-weight: 900;
				font-size: 13px;
				line-height: 16px;
				padding: 0 4px;
			}

			.parcelado {
				font-size: 10px;
				line-height: 12px;
				color: $gray-400;
				padding-bottom: 17px;
			}
		}

		.compra {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 50px;
				font-weight: 700;
				font-size: 10px;
				line-height: 12px;
				color: $white-500;
				background: $black-500;
				cursor: pointer;

				@include mq(lg, max) {
					font-size: 12px;

					&:active {
						background: lighten($black-500, 10);
					}
				}

				@include mq(lg, min) {
					&:hover {
						background: lighten($black-500, 10);
					}

					&:active {
						background: lighten($black-500, $amount: 0);
					}
				}
			}
		}

		.disponivel,
		.indisponivel {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}

		.indisponivel {
			.error {
				display: block;
				font-weight: 700;
				font-size: 10px;
				line-height: 12px;
				color: $red-300;
			}
		}
	}
}
